# Virtual Environment
.venv/
backend/.venv/
venv/
env/
ENV/

# Python cache & bytecode
__pycache__/
*.py[cod]
*.class
*.so
.pytest_cache/

# Temporary databases
*.db
backend/*.db
test.db
test_features.db
*.log

# Large Datasets
data/DataCoSupplyChainDataset.csv


# OS & Editor artifacts
.DS_Store
Thumbs.db
.vscode/
.idea/
