<div class="reset-page">

  <div class="reset-card">

    <div class="brand">

      <div class="brand-icon">
        V
      </div>

      <div>
        <h1>VendorIQ</h1>
        <span>
          Vendor Reliability Intelligence
        </span>
      </div>

    </div>


    <h2>Reset password</h2>

    <p class="subtitle">
      Create a new password for your VendorIQ account.
    </p>


    @if (errorMessage) {

      <div class="message error">
        {{ errorMessage }}
      </div>

    }


    @if (successMessage) {

      <div class="message success">
        {{ successMessage }}
      </div>

    }


    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
    >

      <label for="new_password">
        New password
      </label>

      <input
        id="new_password"
        type="password"
        formControlName="new_password"
        placeholder="Minimum 8 characters"
        autocomplete="new-password"
      />

      @if (
        form.controls.new_password.touched &&
        form.controls.new_password.invalid
      ) {

        <span class="field-error">
          Password must contain at least 8 characters.
        </span>

      }


      <label for="confirm_password">
        Confirm password
      </label>

      <input
        id="confirm_password"
        type="password"
        formControlName="confirm_password"
        placeholder="Enter your password again"
        autocomplete="new-password"
      />


      <button
        type="submit"
        [disabled]="loading"
      >

        {{ loading
          ? 'Resetting password...'
          : 'Reset Password'
        }}

      </button>

    </form>


    <a
      routerLink="/login"
      class="back-link"
    >
      ← Back to Sign in
    </a>

  </div>

</div>