# Backend
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/.env
backend/venv/
backend/uploads/*
!backend/uploads/.gitkeep

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

.DS_Store
